@{
    ViewBag.Title = "nguyen le duc thanh ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>bai cua duc thanh cam ket khong dao van </h3>

    <address>
       
       ksscnt3
    </address>

    <address>
        <strong>Support:</strong>   <a href="chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="thanhbt901@gmail.com">thanhbt901@gmail.com</a>
    </address>
</main>